<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 名称空间，指定对哪个接口进行映射-->
<mapper namespace="com.chinasoft.mapper.DeptMapper">
<!--    查询部门信息以及部门下面所属员工的信息-->
    <resultMap id="findDept" type="dept">
        <id column="deptId" property="id"></id>
        <result column="deptName" property="name"></result>
        <result column="location" property="location"></result>
<!--    property dept对象中的属性   ofType 集合中的泛型类型    -->
      <collection property="empList" ofType="emp" >
          <id column="eId" property="id"></id>
          <result column="empName" property="name"></result>
          <result column="addr" property="addr"></result>
          <result column="salary" property="salary"></result>
      </collection>
    </resultMap>
    <select id="findAll" resultMap="findDept">
        select
         d.name deptName,
          d.location,
            e.id eId,
         e.name empName,
         e.addr,
         e.salary ,
         e.dept_id deptId
        from
        emp e
        right join dept d on e.dept_id = d.id
    </select>
</mapper>