<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 名称空间，指定对哪个接口进行映射-->
<mapper namespace="com.chinasoft.mapper.RoleMapper">
<!-- 查询所有角色信息以及对应的用户信息
    role对user的多对多
-->
   <resultMap id="findAllRole" type="role" >
       <id property="roleId" column="id"></id>
        <result property="role_name" column="role_name"></result>
        <result property="role_desc" column="role_desc"></result>

       <collection property="users" ofType="user">
           <id property="id" column="uid"></id>
           <result property="username" column="username"></result>
           <result property="birthday" column="birthday"></result>
           <result property="sex" column="sex"></result>
           <result property="address" column="address"></result>
       </collection>
   </resultMap>
    <select id="findAllRoles" resultMap="findAllRole" >
        select
          r.*,
          u.id uid,
          u.username,
          u.birthday,
          u.sex,
          u.address
        from
        role r
        left join user_role ur on r.id = ur.rid
        left join user u on ur.uid = u.id;
    </select>
</mapper>